<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
            body{
        background-image: url('/bookbg.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
      
        </style>
      
         <link rel="stylesheet" href="../styles/card.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    
        <div class="flex-container" >
        
                <div class="card">
                        <img src="/school.jpg" alt="Denim Jeans" style="width:100%" height="200px">
                        <h1>SCHOOL BOOKS</h1>
                     
                        <p><button>Add to Cart</button></p>
                      </div>

                      
                <div class="card">
                        <img src="/storybo.jpg" alt="Denim Jeans"  height="200px">
                        <h1>STORY BOOKS</h1>
                    
                        <p><button>Add to Cart</button></p>
                      </div>

                      
                <div class="card">
                        <img src="/stat.jpg" alt="Denim Jeans" style="width:100%">
                        <h1>STATIONARY</h1>
                        <p class="price">$19.99</p>
                        <p>Some text about the jeans..</p>
                        <p><button>Add to Cart</button></p>
                      </div>

                      
                <div class="card">
                        <img src="/bag.jpg" alt="Denim Jeans" style="width:100%">
                        <h1>SCHOOL BAGS</h1>
                      
                        <p><button>Add to Cart</button></p>
                      </div>

                      </div>




        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>