<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
      body{
  background-image: url('/donbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>



<body>

<!-- JUMBOTRON -->
        <div class="jumbotron">
                <h1 class="display-4">BRAVO!! Select the items you want to DONATE!</h1>
                <p class="lead">You're one step close in making someone's life better!</p>
                <hr class="my-4">
                <p>Our Small Steps Can Make a huge difference! We together can bring about a change!</p>
               
              </div>
              <!-- JUMBOTRON -->


              <div class="flex-container">

              <!-- CARD1 -->
              <div class="card" style="width: 18rem;">
                <img src="/cloth.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CLOTHES & SHOES</h5>
                  <p class="card-text">Clothes and shoes for men, women and childen</p>
                  <a href="/cloth" class="btn btn-primary">DONATE</a>
                </div>
              </div>
              <!-- CARD1 -->

               <!-- CARD2 -->
               <div class="card" style="width: 18rem;">
                <img src="/house.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HOUSEHOLD ITEMS</h5>
                  <p class="card-text">Groceries, toileteries, utensils,furniture </p>
                  <a href="/house" class="btn btn-primary">DONATE</a>
                </div>
              </div>
              <!-- CARD2 -->

                <!-- CARD3 -->
                <div class="card" style="width: 18rem;">
                        <img src="/books.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">BOOKS & STATIONARY</h5>
                          <p class="card-text">School books, story books and other School items</p>
                          <a href="/books" class="btn btn-primary">DONATE</a>
                        </div>
                      </div>
                      <!-- CARD3 -->

              </div>

              
    

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>